.clwhite
{
    color:white;
}
.cllightgreen
{
    color: #92ff8c
}
.clmediumgreen
{
    color: #1eda18;
}
.cldarkgreen
{
    color: #2e8c00
}
.cldarkblue
{
    color: #1b0fb0
}

.cllightblue
{
    color:#94eff3;
}
.claqua
{
    color:aqua;
}

.clred
{
    color:red;
}

.clpurple
{
    color:purple;
}