.border li
{
     border-right: 2px solid #0000C0;
}
.bigdiv
{
    overflow: hidden;
    white-space: nowrap;
}
.mainMenu li:last-child
{
     border-right: none;
}
.officeColorStyle
{
background: #A0C0D3 !important;
color: #A0C0D3;
}
.officeColorStyleFont
{
background: inherit !important;
color: #000033;
}
ul.mainMenu li{
    display:inline;
    list-style-type:none;
}
ul.mainMenu
{
    padding: 0;
    margin-bottom: 0;
}
.sublevel {
    display:none;
}
ul.mainMenu li div {
    display: inline-block;
    border-right: 2px solid #0000C0;
}

.imagesOfficeBar {
    color: #002858 !important;
}


