.bigdiv
{
    overflow: hidden;
    white-space: nowrap;
}
.officeColorStyle
{
background: #2b579a !important;
color: #bbd1df;
}
.officeColorStyle2
{
    background: #ffffff !important;
    color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #2b579a
}

.officeColorStyleFont
{
color: black;
}
ul.mainMenu li{
    display:inline;
    list-style-type:none;
}
ul.mainMenu
{
    padding: 0;
    margin: 0;
}
.sublevel {
    display:none;
}
.noBorder
{
    background-color: white;
}
ul.noBorder li div
{
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .7em;
    padding-bottom: .7em;
    cursor: pointer;
    background: #a9c7ff ;
    background: -webkit-linear-gradient(#e0ebff,#a9c7ff); 
    background: -o-linear-gradient(#e0ebff,#a9c7ff); 
    background: -moz-linear-gradient(#e0ebff,#a9c7ff); 
    background: linear-gradient(#e0ebff,#a9c7ff);
    color: black;
    width: 10.8%;
    font-size: 1vw;
    -webkit-clip-path: polygon(9% 0, 93% 0, 100% 21%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 23%);
    clip-path: polygon(9% 0, 93% 0, 100% 21%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 23%);
}

.imagesOfficeBar {
    width: 80px; height: 80px;
}

li div:hover
{
    color: #fff !important;
    background: #3a73b9!important;
}
li div
{
-webkit-transition: background-color .3s;
-moz-transition: background-color .3s;
transition: background-color .3s;
}
.clicked
{
    color: #fff !important;
    background: #3a73b9!important;
}
.Menu
{
color:white;
font-family: Arial, Helvetica, sans-serif;

}

.left
{
    display: inline-flex;
}

.left li
{
    width: 200px;
}
.PrincipalPanel
{
    height: 60vh;
}

.scrollablePanel
{
    overflow-y:scroll;

}
.panelNoticias
{
    height: 20vh;
    margin-bottom: 1vh;
}

.panelEventos
{
    height: 40vh;
    margin-top: 1vh;
}

.PersonalScroll::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

.PersonalScroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.PersonalScroll::-webkit-scrollbar-thumb
{
	background-color: #4f4f4f;
}

body .modal-dialog {
    max-width: 70%;
    width: auto !important;
    vertical-align: middle;
    display: inline-block;
}
.modal {
  text-align: center;
}
/*
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}*/


.panel-heading2
{
    padding: 1px 10px 1px 10px;
}

.panel-body2
{
    padding: .5vh;
}
.modal-label, .modal-input
{
    margin: 0px !important;
    padding: 0px;
    font-weight: bold;
    font-size: 2em;
}

.modal-input
{
    font-weight: normal;
    height: 1.5em;
    border-radius: 2%;
}

.form-container *
{
    white-space: nowrap;
}
